<a href="https://colab.research.google.com/github/olmagra/Proyecto_Predicciones-de-ventas/blob/main/Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROYECTO: PREDICCIONES DE VENTAS ALIMENTICIAS**

In [144]:
#Importar biblioteca Pandas
import pandas as pd
import numpy as np

In [145]:
#Activar Google Drive para poder cargar archivos de allí
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [146]:
# Código trabajado en ayudantías con el profesor Jesús
#Se requiere esta instrucción para que 'traduzca' la url original en una que entienda Python
def format_drive_url(url):
    file_id = url.split('/')[-2]
    download_url = f'https://drive.google.com/uc?id={file_id}&export=download'
    return download_url

In [147]:
#Cargar los datos desde la url indicada en el proyecto:
url = 'https://drive.google.com/file/d/1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw/view?usp=sharing'
url=format_drive_url(url)
print(url)
df = pd.read_csv(url)
df.head()

https://drive.google.com/uc?id=1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw&export=download

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

1) ¿Cuántas filas y columnas?
Respuesta: 12 columnas y 8523 filas (incluyendo la de encabezado).
Información extraida con la función info()

2) ¿Cuáles son los tipos de datos en cada variable?

In [148]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.info() #Información sobre el DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [149]:
#=> Código tomado de stack overflow: https://stackoverflow.com/questions/33251320/dataframe-object-has-no-attribute-sample
df.sample(5) #Saco una muestra aleatorio de 10 registros para explorar la información

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5124,FDV43,NaN,Low Fat,0.076483,Fruits and Vegetables,43.4086,OUT027,1985,Medium,Tier 3,Supermarket Type3,847.5634
7536,FDJ26,NaN,Regular,0.084355,Canned,215.5218,OUT027,1985,Medium,Tier 3,Supermarket Type3,4915.6014
4737,NCV54,11.1,Low Fat,0.033176,Household,120.1124,OUT045,2002,NaN,Tier 2,Supermarket Type1,1896.1984
4157,FDN04,11.8,Regular,0.000000,Frozen Foods,179.2344,OUT035,2004,Small,Tier 2,Supermarket Type1,2141.2128
3561,FDY33,14.5,Regular,0.097751,Snack Foods,159.7262,OUT017,2007,NaN,Tier 2,Supermarket Type1,5728.5432

3) ¿Hay duplicados? Si es el caso, eliminen algunos duplicados.

In [150]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.duplicated().sum() #Buscar y sumar duplicados

0

4) Identifiquen los valores faltantes. Respuesta: Hay valores faltantes en las columnas: 'Item_Weight' y 'Outlet_Size'

In [151]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.isna().sum() #Identifica los valores faltantes por columna

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

In [182]:
df.set_index #Reseteo el índice por las modificaciones que he hecho en el Dataframe y para eviatr errores

<bound method DataFrame.set_index of      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998       Small               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002       Small               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]>

In [153]:
#Otra forma de reindexar:
df.shape
df.columns
df.index

RangeIndex(start=0, stop=8523, step=1)

In [183]:
df.values #Convierto el Dataframe en un arreglo de NUmpy porque algunas funciones lo requieren y para evitar errores

array([['FDA15', 9.3, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        3735.138],
       ['DRC01', 5.92, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        443.4228],
       ['FDN15', 17.5, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        2097.27],
       ...,
       ['NCJ29', 10.6, 'Low Fat', ..., 'Tier 2', 'Supermarket Type1',
        1193.1136],
       ['FDN46', 7.21, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        1845.5976],
       ['DRG01', 14.800000000000002, 'Low Fat', ..., 'Tier 1',
        'Supermarket Type1', 765.67]], dtype=object)



*   Valores faltantes en la columna Outlet_Size

In [184]:
#Código tomado de la lección 'GroupBy' https://login.codingdojo.com/m/502/12397/86623
#Agrupo las columnas que creo están relacionadas con la columna 'Outlet_Size':
df.groupby(['Outlet_Type', 'Outlet_Size', 'Outlet_Location_Type'])['Item_Outlet_Sales'].sum()

Outlet_Type        Outlet_Size  Outlet_Location_Type
Grocery Store      Small        Tier 1                  1.796941e+05
                                Tier 3                  1.883402e+05
Supermarket Type1  High         Tier 3                  2.142664e+06
                   Medium       Tier 1                  2.183970e+06
                   Small        Tier 1                  2.118395e+06
                                Tier 2                  6.472314e+06
Supermarket Type2  Medium       Tier 3                  1.851823e+06
Supermarket Type3  Medium       Tier 3                  3.453926e+06
Name: Item_Outlet_Sales, dtype: float64

In [185]:
#Luego de hacer este GroupBy saco dos conclusiones para llenar los nulos de la columna ''Outlet_Size':
#  1. Los 'Outlet_Type' del tipo 'GroceryStore' son 'Small' (todos los campos no nulos están llenos con este valor)
#  2. Los 'Outlet_Type' del tipo 'Supermarket Type1' y 'Outlet_Location_Type' = 'Tier 2' también son del tamaño 'Small' pues todos los campos no nulos tienen ese valor
#así que llenaré los datos faltantes que cumplan con estos criterios con el valor 'Small'

#=> Código trabajado en clase con el profesor Patricio Olivares
#Voy a filtrar todos aquellos Outlet_type que sea de tipo 'Grocery Store'
filter_outlet1 = df['Outlet_Type'] == 'Grocery Store'

#Aplicar este filtro sobre el DataFrame y luego de aplicado llenaremos los valores nulos con el valor 'Small'
df.loc[filter_outlet1, ['Outlet_Size']] = df.loc[filter_outlet1, ['Outlet_Size']].fillna('Small')

In [186]:
df.isna().sum() #Verifico cuántos valores faltantes quedan

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [189]:
#Voy a filtrar todos aquellos Outlet_type que sea de tipo 'Supermarket Type1' y con Outlet_Location_Type' = 'Tier 2'
filter_outlet2 = df['Outlet_Type'] == 'Supermarket Type1'
filter_outlet2 = df['Outlet_Location_Type'] == 'Tier 2'

#Aplicar este filtro sobre el DataFrame y luego de aplicado llenaremos los valores nulos con el valor 'Small'
df.loc[filter_outlet2, ['Outlet_Size']] = df.loc[filter_outlet2, ['Outlet_Size']].fillna('Small')

In [190]:
df.isna().sum() #Identifica los valores faltantes por columna

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [191]:
df['Outlet_Size'].value_counts() #Cuento valores para revisar como quedó la categoría:

Small     4798
Medium    2793
High       932
Name: Outlet_Size, dtype: int64

# *   Valores faltantes en la columna 'Item_Weight'
Para esta columna una de las opciones que analicé es si se podía borrar, sin embargo los datos nulos representan menos dle 50% del total, de modo que descarté esa opción.

In [162]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.nunique() #Examina los valores únicos de las columnas

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [163]:
#Busqué otras columnas que pudieran tener relación con 'Item_Weight'. Veo que 'Item_Identifier' tiene 1559 valores únicos
#y por su nombre puedo deducir que hay un código por cada artículo
# y que quizá pueda encontrar los valores para 'Item_Weight' nulos relacionándolo con 'Item_Identifier'

#=> Código tomado de notas de clase y lecciones
df.sort_values(by = 'Item_Identifier') #Decido ordenar por esta columna para ver que encuentro
#Efectivamente veo que para cada 'Item_Identifier' el 'Item_Weight' es el mismo

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8043,DRA12,11.60,Low Fat,0.068535,Soft Drinks,143.0154,OUT010,1998,Small,Tier 3,Grocery Store,283.6308
118,DRA12,11.60,Low Fat,0.041178,Soft Drinks,140.3154,OUT017,2007,Small,Tier 2,Supermarket Type1,2552.6772
1693,DRA12,11.60,LF,0.000000,Soft Drinks,141.9154,OUT035,2004,Small,Tier 2,Supermarket Type1,992.7078
1197,DRA12,11.60,Low Fat,0.000000,Soft Drinks,141.6154,OUT045,2002,Small,Tier 2,Supermarket Type1,3829.0158
1245,DRA12,11.60,Low Fat,0.040912,Soft Drinks,142.3154,OUT013,1987,High,Tier 3,Supermarket Type1,2552.6772
...,...,...,...,...,...,...,...,...,...,...,...,...
7926,NCZ54,14.65,Low Fat,0.083489,Household,161.3552,OUT049,1999,Medium,Tier 1,Supermarket Type1,7148.0288
214,NCZ54,14.65,Low Fat,0.000000,Household,161.5552,OUT010,1998,Small,Tier 3,Grocery Store,324.9104
1896,NCZ54,NaN,Low Fat,0.082956,Household,164.0552,OUT027,1985,Medium,Tier 3,Supermarket Type3,5523.4768
7166,NCZ54,NaN,Low Fat,0.145952,Household,160.9552,OUT019,1985,Small,Tier 1,Grocery Store,162.4552
7738,NCZ54,14.65,Low Fat,0.083699,Household,163.4552,OUT018,2009,Medium,Tier 3,Supermarket Type2,2599.2832

In [164]:
#Agrupo el DataFrame por la columna Item_Identifier y cuento para saber cuántas veces se repite cada ítem
df.groupby(['Item_Identifier'])['Item_Weight'].count()

Item_Identifier
DRA12    6
DRA24    5
DRA59    6
DRB01    2
DRB13    5
        ..
NCZ30    6
NCZ41    5
NCZ42    5
NCZ53    4
NCZ54    5
Name: Item_Weight, Length: 1559, dtype: int64

In [165]:
#Código tomado de: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html
#Agrupo 'Item_Identifier' haciendo un promedio de 'Item_Weight'
#Con la función transform convierto en dato 'Item_Weight' nulo en el promedio de los 'no nulos' para cada 'Item_Identifier':
df['Item_Weight'] = df.groupby('Item_Identifier')['Item_Weight'].transform('mean')
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Small,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

6) Confirmen que no hay valores faltantes después de abordarlos.

In [166]:
df.isna().sum() #Revisamos que ninguna columna tenga valor nulo

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [167]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
#Quedaron 4 datos faltantes. Para esos considerando que eson pocos y que la columna es tipo 'flotante', elegí usar el promedio para llenar los valores nulos.
median_weight = df['Item_Weight'].mean() #Calcula el promedio de la columna
df['Item_Weight'].fillna(median_weight, inplace=True) #Llena los valores nulos de esta columna con el promedio hallado

In [168]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.isna().sum() #Revisamos que ninguna columna tenga valor nulo

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7) Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent)

In [169]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS

#Revisar las columnas categóricas:

#  Conteo de valores de la coumna 'Item_Fat_Content'
df['Item_Fat_Content'].value_counts()
# Se detecta que no hay uniformidad y hay que estandarizarlos

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [170]:
#    Estandarizar la categoría en la columna 'Item_Fat_Content'
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [171]:
#  Revisión de los demás datos categóricos
df['Item_Type'].value_counts() #Cuento valores de esta columna para revisar que sean coherentes
# Los valores de esta categoría está OK

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [172]:
#  Revisión de los demás datos categóricos
df['Outlet_Identifier'].value_counts() #  Conteo de valores de la coumna 'Outlet_Identifier'
# Los valores de esta categoría está OK

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [173]:
#  Revisión de los demás datos categóricos
df['Outlet_Type'].value_counts() #  Conteo de valores por columna
# Los valores de esta categoría está OK

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [175]:
#  Revisión de los demás datos categóricos
df['Outlet_Location_Type'].value_counts() #  Conteo de valores de la coumna
# Los valores de esta categoría está OK

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)

In [176]:
#=> Código tomado de notas de clase y lecciones Coding Dojo
df.describe() #Trae los principales datos estadísticos del DataFrame:

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.875420,0.066132,140.992782,1997.831867,2181.288914
std,4.645008,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026989,93.826500,1987.000000,834.247400
50%,12.650000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [180]:
df['Item_MRP'].min() #Para la columna 'Item_MRP' calculo el valor mínimo

31.29

In [178]:
df['Item_MRP'].max() #Para la columna 'Item_MRP' calculo el valor máximo

266.8884

In [181]:
df['Item_MRP'].mean() #Para la columna 'Item_MRP' calculo la media o promedio

140.9927819781767