<a href="https://colab.research.google.com/github/olmagra/Proyecto_Predicciones-de-ventas/blob/main/Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROYECTO: PREDICCIONES DE VENTAS ALIMENTICIAS**

In [334]:
#Importar biblioteca Pandas
import pandas as pd
import numpy as np

In [335]:
#Activar Google Drive para poder cargar archivos de allí
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [336]:
def format_drive_url(url):
    file_id = url.split('/')[-2]
    download_url = f'https://drive.google.com/uc?id={file_id}&export=download'
    return download_url

In [337]:
#Cargar los datos desde la url indicada en el proyecto:
url = 'https://drive.google.com/file/d/1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw/view?usp=sharing'
url=format_drive_url(url)
print(url)
df = pd.read_csv(url)
df.head()

https://drive.google.com/uc?id=1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw&export=download

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [338]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.nunique() #Examina los valores únicos de las columnas

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

1) ¿Cuántas filas y columnas?
Respuesta: 12 columnas y 8523 filas (incluyendo la de encabezado).
Información extraida con la función info()

2) ¿Cuáles son los tipos de datos en cada variable?

In [294]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.info() #Información sobre el DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [296]:
#=> Código tomado de stack overflow: https://stackoverflow.com/questions/33251320/dataframe-object-has-no-attribute-sample
df.sample(5) #Saco una muestra aleatorio de 10 registros para explorar la información

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5486,NCK07,10.650,Low Fat,0.048962,Others,165.8526,OUT017,2007,NaN,Tier 2,Supermarket Type1,3946.8624
7652,FDS09,8.895,Regular,0.081253,Snack Foods,49.8008,OUT045,2002,NaN,Tier 2,Supermarket Type1,1062.6168
6578,FDX23,6.445,Low Fat,0.029860,Baking Goods,94.1436,OUT017,2007,NaN,Tier 2,Supermarket Type1,1418.1540
1109,NCI17,8.645,Low Fat,0.143714,Health and Hygiene,96.6410,OUT045,2002,NaN,Tier 2,Supermarket Type1,868.8690
7006,FDT16,9.895,Regular,0.048738,Frozen Foods,262.1278,OUT049,1999,Medium,Tier 1,Supermarket Type1,3904.9170

3) ¿Hay duplicados? Si es el caso, eliminen algunos duplicados.

In [297]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.duplicated().sum() #Buscar y sumar duplicados

0

4) Identifiquen los valores faltantes. Respuesta: Hay valores faltantes en las columnas: 'Item_Weight' y 'Outlet_Size'

In [298]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS
df.isna().sum() #Identifica los valores faltantes por columna

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

In [318]:
df.set_index #Reseteo el índice por la smodificaciones que he hecho en el Dataframe

<bound method DataFrame.set_index of      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year  Outlet_Size Outlet_Location_Type  \
0                          1999       Medium               Tier 1
1                          2009       Medium               Tier 3
2                          1999       Medium               Tier 1
3                          1998  Desconocido               Tier 3
4                          1987         High               Tier 3
...                         ...          ...                  ...
8518                       1987         High               Tier 3
8519                       2002  Desconocido               Tier 2
8520                       2004        Small               Tier 2
8521                       2009       Medium               Tier 3
8522                       1997        Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]>

In [319]:
df.shape
df.columns
df.index

RangeIndex(start=0, stop=8523, step=1)

In [320]:
df.values #Convierto el Dataframe en un arreglo de NUmpy

array([['FDA15', 9.3, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        3735.138],
       ['DRC01', 5.92, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        443.4228],
       ['FDN15', 17.5, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        2097.27],
       ...,
       ['NCJ29', 10.6, 'Low Fat', ..., 'Tier 2', 'Supermarket Type1',
        1193.1136],
       ['FDN46', 7.21, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        1845.5976],
       ['DRG01', 14.8, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        765.67]], dtype=object)



*   Valores faltantes en la columna Outlet_Size

In [321]:
df.groupby(['Outlet_Type', 'Outlet_Size'])['Item_Outlet_Sales'].sum()
#Luego de hacer este GroupBy concluyo que los 'Outlet_Type' del tipo 'GroceryStore'
#Son de tamaño 'OutletSize' = Small, así que llenaré los datos faltantes de este grupo con 'Small'

Outlet_Type        Outlet_Size
Grocery Store      Desconocido    1.883402e+05
                   Small          1.796941e+05
Supermarket Type1  Desconocido    4.204191e+06
                   High           2.142664e+06
                   Medium         2.183970e+06
                   Small          4.386518e+06
Supermarket Type2  Medium         1.851823e+06
Supermarket Type3  Medium         3.453926e+06
Name: Item_Outlet_Sales, dtype: float64

In [330]:
for column in 'Outlet_Size':
    if df['Outlet_Type'] =='Grocery Store' and df['Outlet_Size'] != 'Small'
    , column] = 'Small'

SyntaxError: ignored

In [ ]:
if len(matched_rows) > 2:
  df.drop(matched_rows, inplace=True)
  df.reset_index(level=None, drop=True, inplace=True)

In [322]:
df['Outlet_Size'].isna() #Identifica los valores faltantes por columna

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [309]:
df.loc[df['Outlet_Size'].isna(), 'Outlet_Size']

3       NaN
8       NaN
9       NaN
25      NaN
28      NaN
       ...
8502    NaN
8508    NaN
8509    NaN
8514    NaN
8519    NaN
Name: Outlet_Size, Length: 2410, dtype: object

In [315]:
for column in ('Outlet_Size'):
    df.loc['Outlet_Type' == 'Grocery Store', column] = 'Small'

KeyError: ignored

In [312]:
for column in 'Outlet_Size':
    df.loc['Outlet_Type' == 'Supermarket Type1', column] = 'Small'

KeyError: ignored

In [310]:
#=> Código tomado de la lección 'Identificar y manejar valores faltantes'
df['Outlet_Size'].fillna('Desconocido', inplace=True) #Reemplazar los valores nulos de esta columna por 'Desconocido' para poderlos reemplazar
df['Outlet_Size'].value_counts() #  Conteo de valores de la coumna

Medium         2793
Desconocido    2410
Small          2388
High            932
Name: Outlet_Size, dtype: int64

In [287]:
grocery_small = (df['Outlet_Type'] == 'Grocery Store') & (df['Outlet_Size'] == 'Desconocido') #Filtro combinado para estas dos columnas
df[grocery_small].count() #Cuento cuántos cumplen la condición

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [288]:
df['Outlet_Size'].value_counts() #  Conteo de valores de la coumna

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [260]:
df2 = df.loc[grocery_small, :].replace('Desconocido', 'Small')

In [261]:
df['Outlet_Size'].value_counts()

Medium         2793
Desconocido    2410
Small          2388
High            932
Name: Outlet_Size, dtype: int64

In [262]:
grocery_filter = df['Outlet_Type']=='Grocery Store'
df3 = df.loc[grocery_filter, :]
df['Outlet_Type'].value_counts(dropna = False)

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [263]:
desconocido_filter = df['Outlet_Size']=='Desconocido'
df3 = df.loc[desconocido_filter, :]
df['Outlet_Size'].value_counts(dropna = False)

Medium         2793
Desconocido    2410
Small          2388
High            932
Name: Outlet_Size, dtype: int64

In [264]:
# Ahora puedo reemplazar los valores 'Desconocido' de 'Outlet_Type' == 'Grocery Store' por 'Small'
df3 = df.loc[grocery_filter & desconocido_filter, :].replace('Desconocido', 'Small')

In [265]:
df['Outlet_Size'].value_counts(dropna = False)

Medium         2793
Desconocido    2410
Small          2388
High            932
Name: Outlet_Size, dtype: int64

In [169]:
filtro_grocery = df['Outlet_Type' == 'Grocery Store'] & df['Outlet_Size' == 'Desconocido']
#display(filtro_grocery)
df[filtro_grocery].replace(True, 'Small')

KeyError: ignored

In [149]:

#df['Outlet_Type' == 'Grocery Store'] & ['Outlet_Size' = 'Desconocido']= df['Outlet_Size'].replace('Desconocido', 'Small')
#filtro_grocery = df['Outlet_Type' == 'Grocery Store', 'Outlet_Size' != 'Small']
#display(filtro_grocery)
#filtro_grocery = (df['Outlet_Type'] == 'Grocery Store') & (df['Outlet_Size'] != 'Small') #Filtro combinado para estas dos columnas
df['Outlet_Type' == 'Grocery Store'] & ['Outlet_Size' != 'Small'].fillna('small', inplace=True)

#filtro_grocery = (df['Outlet_Type'] == 'Grocery Store') #Filtro combinado para estas dos columnas
#df[filtro_grocery].count() #Cuento cuántos cumplen la condición

KeyError: ignored

# *   Valores faltantes en la columna 'Item_Weight'
Para esta columna una de las opciones que analicé es si se podía borrar, sin embargo los datos nulos representan menos dle 50% del total, de modo que descarté esa opción.

Revisé otras columnas que pudieran tener relación y no encontré una con la que se pudiera hacer una deducción razonable.

Por esa razón y considerando que es una columna tipo 'flotante', elegí usar el promedio para llenar los valores nulos.

In [332]:
median_weight = df['Item_Weight'].mean() #Calcula el promedio de la columna
df['Item_Weight'].fillna(median_weight, inplace=True) #Llena los valores nulos de esta columna con el promedio hallado

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

6) Confirmen que no hay valores faltantes después de abordarlos.

In [333]:
df.isna().sum() #Revisamos que ninguna columna tenga valor nulo

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7) Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent)

In [299]:
#=> Código tomado del cuaderno de limpieza: https://colab.research.google.com/drive/1zuye5dvjhqZge2rc1tDh_jY3X9FHBzqH#scrollTo=QKiXdVHhNahS

#Revisar las columnas categóricas:

#  Conteo de valores de la coumna 'Item_Fat_Content'
df['Item_Fat_Content'].value_counts()
# Se detecta que no hay uniformidad y hay que estandarizarlos

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [300]:
#    Estandarizar la categoría en la columna 'Item_Fat_Content'
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [301]:
#  Conteo de valores de la coumna 'Item_Type'
df['Item_Type'].value_counts()
# Los valores de esta categoría está OK

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [302]:
#  Conteo de valores de la coumna 'Outlet_Identifier'
df['Outlet_Identifier'].value_counts()
# Los valores de esta categoría está OK

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [305]:
df['Outlet_Type'].value_counts() #  Conteo de valores por columna
# Los valores de esta categoría está OK

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [304]:
df['Outlet_Location_Type'].value_counts() #  Conteo de valores de la coumna
# Los valores de esta categoría está OK

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)

In [317]:
#=> Código tomado de notas de clase y lecciones Coding Dojo
df.describe() #Trae los principales datos estadísticos del DataFrame:

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800